.Button {
	padding: 14px 80px;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
	background: linear-gradient(
		90deg,
		#1b75bc 25.1%,
		#29abe2 81.05%,
		rgba(43, 182, 119, 0.7921) 124.52%
	);
	border-radius: 20px;
}
