.seeMore {
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	color: #328be0;
	border: 1px solid;
	padding: 12px 42px;
	padding-right: 34px;
	border-radius: 20px;
}

.btnContainer button {
	padding: 12px 27.5px;
}

.gridTop > * {
	width: unset !important;
}
