.table_container {
    width: 100%;
    overflow-x: scroll;
}

.table_div {
    width: 100%;
    border-collapse: collapse;
}

.thead {
    white-space: nowrap;
}

.tr {
    padding: 10px 16px;
    text-align: left;
}

.tr>span {
    margin-top: auto;
    font-size: 1rem;
    font-weight: 600;
    color: #121528;
}

.tbody {
    white-space: nowrap;
    height: 3.25rem;
}

.tbody>tr {
    height: 3.25rem;
}

.tbody>tr>td {
    padding: 1rem;
    text-align: left;
    position: relative;
}

.tbody>tr:nth-child(odd) {
    background-color: #f5f5f5;
}

.tbody>tr>td>p {
    height: auto;
    display: flex;
    align-items: center;
    color: #12152899;
}