.ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.ul>li {
    padding: 0.7rem 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: #71737e;
}

.tranzact:nth-child(odd) {
    background-color: #f5f5f5;
}

.user_card:nth-child(even) {
    background-color: #f5f5f5;
    /* display: none; */
}